<h3>CLIENT: {{ client }}</h3>
<p>PO / CONT: {{ id }} / {{ contnumber }}</p>

{% if details %}
    <table id = "xnt_detail_table" class="detail-table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Code</th>
                <th>Name</th>
                
                
                <th>SLG ĐẶT HÀNG</th>
                <th>SLG</th>
                <th>Input</th>
                <th>Output</th>
                                
                <th>Stock</th>
                <th>StockVol</th>

                <th>Date</th>
                <th>In Conts</th>
            </tr>
        </thead>
        <tbody>
            {% for itm in details %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ itm.code }}</td>
                    <td>{{ itm.name }}</td>
                    
                    

                    <td><b>{{ itm.qty_require }}</b></td>
                    <td><b>{{ itm.qty }}</b></td>
                    <td>{{ itm.input }}</td>
                    <td>{{ itm.output }}</td>
                    
                    <td>{{ itm.instock }}</td>
                    <td>{{ itm.instockVolume|floatformat:6 }}</td>

                    <td>{{ itm.documentDate }}</td>

                    <td>
                        {% if itm.inconts %}
                        <div class="round-border">
                            {% for k, v in itm.inconts.items %}
                                <p>{{ k }}: {{ v }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <i>No detail item found</i>
{% endif %}



